:root{
    --font-family: 'Lato', sans-serif;
    --white: #fff;
    --red: #710f11;
    --gray: #c9d5d6;
    --dk-gray:#333333;
    --green: #6bbe96;
    --dk-green: #6eaf86;
    --lt-teal: #789097;
    --teal: #083741;

}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body{
    background: rgb(251,177,23);
background: linear-gradient(0deg, rgba(251,177,23,1) 0%, rgba(215,100,38,1) 100%);
    font-family: 'Lato', sans-serif;
      font-weight: 300;
      letter-spacing: -.02rem;
      font-size: 14px;
      color: var(--dk-gray);
      line-height: 1.667;
      text-align: right;
      margin: 0 auto;
  }
  h1 {
    text-align: left;
  }
  h2 {
      font-size: 2.25rem;
      font-weight: bold;
      letter-spacing: -.04rem;
      margin: 0;
      line-height: 1.2;
  }

  h3 {
      font-size: 18px;
      font-weight: 600;
      font-style: italic;
  }
  h4 {
    font-style: italic;
  }
.hook_text {
    font-style: oblique;
    font-size: 30px;
    line-height: normal;
}
  p {
    padding: 0;
    font-size: 16px;
    line-height: 2;
    font-weight: 400;
  }

  a {
      text-decoration: none;
  }

  ul {
      list-style-type: none;
      text-align: left;
      font-size: 16px;
      margin: 0;
      padding: 0;
  }

  .container{
    max-width: 70rem;
    margin: 0 auto;
    
}
.header{
    position: sticky;
    top: 0; 
}
.header__container{
    max-width: 100%;
    margin: auto;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.h1_img{
    max-height: 200px;
    margin: 40px;
}
.section_container{
    max-width: 100%;
}